@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    margin: 0;
    font-family: "Roboto";
    background-color: white;
}

/*HEADER SECTION*/

.first-section {
    background-color: #1f2937;
    color: #f9faf8;
    height: 300px;
    padding: 10px 80px 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.links {
    display: flex;
    padding: 0;
    gap: 20px;
}

.logo {
    font-weight:bolder;
    font-size: 24px;
    
}

.introduction {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
}

.button-header {
    background-color: #388;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    color: white;
    margin-top: 10px;
}

/*SECOND SECTION*/

.second-section {
    padding: 10px 80px;
}

/*THIRD SECTION*/

.third-section {
    background-color: #e5e7eb;
    font: 36px light;
    font-style: italic;
    color: #1f2937;
    padding: 50px 80px;
}

/*4 SECTION*/

.fourth-section {
    padding: 10px 80px;
}

/*FOOTER*/